<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'work' %}">Signup</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
      </ul>
    </nav>

    {% block content %}

    <h1>Base page</h1>

    {% endblock %}
  </body>
</html>
