{% extends 'base.html' %}

<!--  -->
{% block content %}

<!--  -->
{% load static %}

<div class="box1">
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting <br />
    industry. Lorem Ipsum has been the industry's standard dummy text ever
    <br />
    since the 1500s, when an unknown printer took a galley of type and<br />
    scrambled it to make a type specimen book. It has survived not only five<br />
    centuries, but also the leap into electronic typesetting, remaining<br />
    essentially unchanged. It was popularised in the 1960s with the release<br />
    of Letraset sheets containing Lorem Ipsum passages, and more recently<br />
    with desktop publishing software like Aldus PageMaker including versions<br />
    of Lorem Ipsum.
  </p>
  <button></button>

  <img src="{% static 'images/img.jpg' %}" alt="" />
</div>

{% endblock %}
